# [required] root path for where to find datasets and store models
DERIVED_DATA=/path/to/derived_data
# [optional]  log level
LOG_LEVEL=INFO
# [optional] slack webhook url for training and samples notifications
KK_SLACK_WH_URL=https://hooks.slack.com
