name: CI

on: [push]

jobs:
  ci-checks:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
    steps:
      - name: Clone repo
        uses: actions/checkout@v2
      - name: Set up Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          cache: true
          environments: dev
          activate-environment: true
        env:
          CONDA_OVERRIDE_CUDA: 12.8
      - name: Run tests
        run: pixi run test
